html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    display: flex;
    flex-flow: column nowrap;
    height: 660px;
    width: 360px;
    background-color: grey;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-top: 1rem;
}

.text-container {
       width: 100%;
       padding: 20px;
}

input {
    height: 75px;
    width: inherit;
    border-radius: 5px;
    text-align: right;
    font-size: 36px;
}

.calc-buttons{
    display: flex;
    width: inherit;
    height: inherit;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.calc-buttons button {
    font-size: 25px;
    font-weight: 600;
    border-radius: 1rem;
    flex: 1 0 calc(100% / 4);
    height: 75px;
}
